<div class= "container">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :size => 40, :placeholder => "Your Name" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, :size => 40, :placeholder => "Email Address"%>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username, :size => 40, :placeholder => "Create Username"%>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :crypted_password, :size => 40, :placeholder=> "Create Password" %>
  </div><br>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, :size => 40, :placeholder=> "Confirm Password" %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
