<div class = "container">
<p id="notice"><%= notice %></p>

<h1>Reddit</h1>
<div class = "table-responsive">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class= "text-center">Votes</th>
      <th class= "text-center">Add Vote</th>
      <th class= "text-center">Delete Vote</th>
      <th class= "text-center">Title</th>
      <th class= "text-center">Modify</th>
      <th class= "text-center">Delete</th>

    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td class = "text-center"><%= pluralize(link.votes.count, "vote") %></td>
        <td class = "text-center"><%= link_to '<span class="glyphicon glyphicon-arrow-up "></span>'.html_safe, upvote_link_path(link, :upvote => true), :method => "post" %></td>
        <td class = "text-center"><%= link_to '<span class="glyphicon glyphicon-arrow-down"></span>'.html_safe, downvote_link_path(link, :downvote => true), :method => "post" %></td>
        <td class= "text-center"><%= link_to link.title, upvote_link_path(link), :method => "post" %></td>
        <td class= "text-center"><%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_link_path(link) %></td>
        <td class = "text-center"><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, link_path(link), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class = "row">
  <div class = "col-xs-4 pull-right">
    <%= link_to '<span class="glyphicon glyphicon-plus"> New Link </span>'.html_safe, new_link_path %>
  </div>
  <div class = "col-xs-4 pull-right">
    <%= link_to '<span class="glyphicon glyphicon-user"> New User </span>'.html_safe , new_user_path %>
  </div>
</div>

</div>
