<div class = "container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @link.url %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @link.summary %>
</p>

<p>
  
  <%= render '/comments/form' %>

</p>


<%= link_to 'Back', root_path %>
</div>
